* {
    margin: 0;
    
}

main{
    width: 70vw;
    padding-left: 15vw;
}

p, h1, label, input, legend{
    font-family: 'JetBrains Mono', monospace;
    font-weight: 400;
}

@media (max-width: 500px){
    input{
        margin-top: 1vw;
        margin-bottom: 1vw;
        width: 70vw;
    }
}

@media (min-width: 501px){
    input{
        margin-top: 1vw;
        margin-bottom: 1vw;
        width: 25vw;
    }
}




legend{
    padding-top: 1vw;
    padding-bottom: 1vw;
    width: 70vw;
    background-color: #000;
    color: #FFF;
}

.title{
    width: 70vw;
    margin-top: 5vh;
    background-color: #000;
}

.title > h1{
    font-size: 28px;
    margin-left: 0.69vw;
    width: 70vw;
    color: #FFF;
    
}